<div class="container">
  <div class="left-container">
    <mat-card class="item-card">
      <img
        class="image"
        mat-card-image
        src="../../assets/{{ item?.imageUrl }}"
      />
      <mat-card-header>
        <mat-card-title class="item-title">{{ item?.name }} </mat-card-title>
        <mat-card-subtitle>{{ item?.category }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!-- <p class="item-details">{{item.details}}</p> -->
        <div>
          <p>{{ item?.description }}</p>
        </div>
        <div>
          <p>
            Price <span class="price">&#8377;{{ item?.price }}</span>
          </p>
          <p>
            Rating <span class="rating">{{ item?.rating }} </span>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right-container">
    <div class="form-container">
      <h2>Order Form</h2>
      <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <!-- Customer Name -->
        <div class="cusName">
          <mat-form-field class="cName" appearance="outline">
            <mat-label>Customer Name</mat-label>
            <input
              matInput
              placeholder="Enter customer name"
              formControlName="customerName"
            />
            <mat-error
              *ngIf="orderForm.get('customerName')?.hasError('required')"
              >Customer Name is required</mat-error
            >
            <mat-error
              *ngIf="orderForm.get('customerName')?.hasError('minlength')"
              >Minimum length is 3 characters</mat-error
            >
          </mat-form-field>
        </div>

        <!-- Customer Email -->
        <div>
          <mat-form-field class="email" appearance="outline">
            <mat-label>Customer Email</mat-label>
            <input
              matInput
              placeholder="Enter customer email"
              formControlName="customerEmail"
            />
            <mat-error
              *ngIf="orderForm.get('customerEmail')?.hasError('required')"
              >Customer Email is required</mat-error
            >
            <mat-error *ngIf="orderForm.get('customerEmail')?.hasError('email')"
              >Invalid email format</mat-error
            >
          </mat-form-field>
        </div>

        <!-- Contact Number -->
        <mat-form-field class="contact" appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input
            matInput
            placeholder="Enter contact number"
            formControlName="contactNumber"
          />
          <mat-error
            *ngIf="orderForm.get('contactNumber')?.hasError('required')"
            >Contact Number is required</mat-error
          >
          <mat-error *ngIf="orderForm.get('contactNumber')?.hasError('pattern')"
            >Invalid contact number</mat-error
          >
        </mat-form-field>
        <div class="row4">
          <!-- Order Quantity -->
          <mat-form-field class="qty" appearance="outline">
            <mat-label>Order Quantity</mat-label>
            <input
              matInput
              type="number"
              placeholder="Enter order quantity"
              formControlName="orderQuantity"
            />
            <mat-error
              *ngIf="orderForm.get('orderQuantity')?.hasError('required')"
              >Order Quantity is required</mat-error
            >
            <mat-error *ngIf="orderForm.get('orderQuantity')?.hasError('min')"
              >Must be at least 1</mat-error
            >
          </mat-form-field>

          <!-- Order Date -->
          <mat-form-field appearance="outline">
            <mat-label>Order Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose order date"
              formControlName="orderDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="orderForm.get('orderDate')?.hasError('required')"
              >Order Date is required</mat-error
            >
          </mat-form-field>
        </div>

        <div class="row5">
          <!-- Customer Address -->
          <div formGroupName="customerAddress">
            <mat-form-field class="SocityName" appearance="outline">
              <mat-label>Socity Name</mat-label>
              <input
                matInput
                placeholder="Enter Socity Name"
                formControlName="Socityname"
              />
              <mat-error
                *ngIf="
                  orderForm
                    .get('customerAddress.socityname')
                    ?.hasError('required')
                "
                >Socity Name is required</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Street Name</mat-label>
              <input
                matInput
                placeholder="Enter street name"
                formControlName="streetName"
              />
              <mat-error
                *ngIf="
                  orderForm
                    .get('customerAddress.streetName')
                    ?.hasError('required')
                "
                >Street Name is required</mat-error
              >
            </mat-form-field>

            <div class="row6">
              <mat-form-field class="city" appearance="outline">
                <mat-label>City</mat-label>
                <input
                  matInput
                  placeholder="Enter city"
                  formControlName="city"
                />
                <mat-error
                  *ngIf="
                    orderForm.get('customerAddress.city')?.hasError('required')
                  "
                  >City is required</mat-error
                >
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <input
                  matInput
                  placeholder="Enter state"
                  formControlName="state"
                />
                <mat-error
                  *ngIf="
                    orderForm.get('customerAddress.state')?.hasError('required')
                  "
                  >State is required</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>

        <button
          mat-raised-button
          class="order-btn"
          color="primary"
          type="submit"
          [disabled]="orderForm.invalid"
        >
          Order please
        </button>
      </form>
    </div>
  </div>
</div>
